{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'presto/grid.css' %}">

<div class="container">
    <div class="row">
        <div class="w-100 p-3" style="        background-color: #ffffff;">
            <body>
                <p>Query：<input type="text" id="info" value=""></p>
                <button id="AJAX_get" type="button">Submit</button>
            </body>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#AJAX_get").click(function(){
                        var info =  $("#info").val(); 
                        var data = {"info": info};  

                    $.get(
                        '{% url 'ajax_get' %}',
                        data,
                        function(ret){
                            var info = ret['info'];
                            console.log(info);
                            var table = $("#table tbody");
                            table.children().remove()
                            $.each(info, function(idx, elem){
                                table.append("<tr><td>"+elem+"</td></tr>");
                            });
                        })
                    })
                })
            </script>
        </div>
    </div>

    <div class="row">
        <div style="height: 800px; background-color: #ffffff;">
            <p>Results：<table id="table"><tbody></tbody></table></p>
        </div>
    </div>
    </div>
